@import url("http://fonts.cdnfonts.com/css/futura-pt?styles=117663,117664,117662");

:root {
  --font-base: 'Futura PT', sans-serif;

  --primary-color: #f0f8ed;
  --secondary-color: #0cd448;
  --black-color: #030303;
  --lightGray-color: #e4e4e4;
  --gray-color: #6b7688;
  --brown-color: #46364a;
  --white-color: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

html, body {
  font-family: var(--font-base);
}